@media (min-width: 1200px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 100%;
    height: 80px;
    background-color: #f0c77b;
    position: fixed;
    top: 0px;
    z-index: 100;
    opacity: 0;
  }
  .headerWrap {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .moGnb {
    display: none;
  }
  header h1 img {
    width: 140px;
  }
  header ul {
    display: flex;
    gap: 35px;
  }
  header li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    position: relative;
  }
  .bar {
    display: none;
  }

  header li .pick {
    width: 0%;
    height: 5px;
    background-color: #d70204;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  header .pickon {
    width: 130%;
    height: 5px;
    background-color: #d70204;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 500px;
    letter-spacing: 3px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    width: 1200px;
    margin: 0px auto;
    margin-top: 100px;
  }
  #con1 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
  }
  #con1 h2 span {
    color: #d70204;
  }
  #con1 .wrap {
    display: flex;
    align-items: end;
  }
  #con1 .img {
    text-align: center;
  }
  #con1 .img p {
    font-size: 14px;
  }
  #con1 h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
  }
  #con1 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
  }
  .list {
    margin-bottom: 300px;
    white-space: nowrap;
  }
  .list li.on h3,
  .list li.on p {
    color: #d70204;
  }
  #con1 li p {
    width: 280px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  /* .bigImg img {
    width: 200px;
  }
  .smallImg img {
    width: 90px;
  }
  .bigImg {
    margin-left: 150px;
  }
  .smallImg {
    margin-left: 50px;
  } */
  .img {
    display: flex;
    align-items: baseline;
    gap: 70px;
  }
  .img li:nth-child(1) img {
    width: 200px;
  }
  .img :nth-child(2) img,
  .img :nth-child(3) img {
    width: 90px;
  }
  .img :nth-child(2) p,
  .img :nth-child(3) p {
    display: none;
  }
  .img {
    margin-left: 150px;
  }
  /* ---------- con2 ---------- */
  #con2 {
    margin-top: 100px;
  }
  /* title */
  #con2 .con2Title {
    width: 100%;
    height: 140px;
    background-color: #d70204;
    font-family: "Bebas Neue", sans-serif;
  }
  #con2 .con2Title div {
    margin-left: 100px;
    display: flex;
    align-items: end;
    color: white;
  }
  #con2 .con2Title img {
    width: 100%;
    height: 20px;
  }
  #con2 .con2Title h2 {
    font-size: 100px;
    letter-spacing: 5px;
  }
  #con2 .con2Title span {
    vertical-align: super;
    font-size: 50px;
  }
  #con2 .con2Title p {
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 26px;
  }
  /* pic */
  .alcoholTop {
    width: 1200px;
    height: 300px;
    display: flex;
    margin: 0px auto;
    margin-top: 70px;
  }
  .alcoholTop li {
    width: calc(100% / 5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholTop li:nth-child(1) {
    background-image: url(../img/bar_con2_1_bnw.png);
  }
  .alcoholTop li:nth-child(2) {
    background-image: url(../img/bar_con2_2_bnw.png);
  }
  .alcoholTop li:nth-child(3) {
    background-image: url(../img/bar_con2_3_bnw.jpg);
  }
  .alcoholTop li:nth-child(4) {
    background-image: url(../img/bar_con2_4_bnw.png);
  }
  .alcoholTop li:nth-child(5) {
    background-image: url(../img/bar_con2_5_bnw.jpg);
  }
  .alcoholBottom {
    width: 1200px;
    height: 300px;
    display: flex;
    margin: 0px auto;
  }
  .alcoholBottom li {
    width: calc(100% / 5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholBottom li:nth-child(1) {
    background-image: url(../img/bar_con2_6_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) {
    background-image: url(../img/bar_con2_7_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) p {
    margin-top: 210px;
  }
  .alcoholBottom li:nth-child(3) {
    background-image: url(../img/bar_con2_8_bnw.png);
  }
  .alcoholBottom li:nth-child(4) {
    background-image: url(../img/bar_con2_9_bnw.jpg);
  }
  .alcoholBottom li:nth-child(5) {
    background-image: url(../img/bar_con2_10_bnw.jpg);
  }
  .alcoholTop a,
  .alcoholBottom a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  .alcoholTop p,
  .alcoholBottom p {
    margin-top: 230px;
    margin-left: 23px;
    font-size: 14px;
    font-weight: bold;
  }
  .alcoholTop h3,
  .alcoholBottom h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-left: 25px;
  }
  /* ---------- con3 ---------- */
  #con3 {
    width: 1000px;
    margin: 0px auto;
  }
  #con3 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  #con3 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: 2px solid #555;
  }
  .bev ul {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    margin-top: 300px;
    opacity: 0;
  }
  .bev ul.on {
    margin-top: 0px;
    opacity: 1;
    transition: 2s;
  }
  #con3 .bev li {
    width: 100%;
    margin: 10px 0px 25px;
    display: flex;
    justify-content: space-between;
  }
  #con3 .bev span {
    font-size: 13px;
  }
  #con3 .bev h4 {
    font-size: 18px;
  }
  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 30px 0px 20px;
    margin-top: 120px;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 12px;
    margin-bottom: 40px;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 4px 8px;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
  .policy li {
    position: relative;
  }
  .policy .pick2 {
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 100%;
    height: 5.5rem;
    background-color: #f0c77b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 100;
    opacity: 0;
  }
  .headerWrap {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .moGnb {
    display: none;
  }
  header h1 img {
    width: 140px;
  }
  header ul {
    display: flex;
    gap: 35px;
  }
  header li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
    position: relative;
  }
  .bar {
    display: none;
  }

  header li .pick {
    width: 0%;
    height: 5px;
    background-color: #d70204;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }
  header .pickon {
    width: 130%;
    height: 5px;
    background-color: #d70204;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 27rem;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 27rem;
    letter-spacing: 3px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    margin-top: 8rem;
    margin-left: 5%;
  }
  #con1 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
  }
  #con1 h2 span {
    color: #d70204;
  }
  #con1 .wrap {
    display: flex;
    align-items: end;
  }
  #con1 .img {
    text-align: center;
  }
  #con1 .img p {
    font-size: 14px;
    white-space: nowrap;
  }
  #con1 h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
  }
  #con1 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    white-space: nowrap;
  }
  #con1 .list {
    margin-bottom: 14rem;
  }
  #con1 .list li.on h3,
  #con1 .list li.on p {
    color: #d70204;
  }
  #con1 li p {
    font-size: 14px;
    margin-bottom: 1.4rem;
  }
  .img {
    display: flex;
    align-items: baseline;
    gap: 40px;
  }
  .img li:nth-child(1) img {
    width: 150px;
  }
  .img :nth-child(2) img,
  .img :nth-child(3) img {
    width: 70px;
  }
  .img :nth-child(2) p,
  .img :nth-child(3) p {
    display: none;
  }
  .img {
    margin-left: 2.2rem;
  }
  /* ---------- con2 ---------- */
  #con2 {
    margin-top: 8rem;
  }
  /* title */
  #con2 .con2Title {
    width: 100%;
    height: 140px;
    background-color: #d70204;
    font-family: "Bebas Neue", sans-serif;
  }
  #con2 .con2Title div {
    margin-left: 8rem;
    display: flex;
    align-items: end;
    color: white;
  }
  #con2 .con2Title img {
    width: 100%;
    height: 20px;
  }
  #con2 .con2Title h2 {
    font-size: 100px;
    letter-spacing: 5px;
  }
  #con2 .con2Title span {
    vertical-align: super;
    font-size: 50px;
  }
  #con2 .con2Title p {
    font-size: 26px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }
  /* pic */
  .alcoholTop {
    width: 780px;
    height: 220px;
    display: flex;
    margin: 0px auto;
    margin-top: 5rem;
  }
  .alcoholTop li {
    width: calc(100% / 5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholTop li:nth-child(1) {
    background-image: url(../img/bar_con2_1_bnw.png);
  }
  .alcoholTop li:nth-child(2) {
    background-image: url(../img/bar_con2_2_bnw.png);
  }
  .alcoholTop li:nth-child(3) {
    background-image: url(../img/bar_con2_3_bnw.jpg);
  }
  .alcoholTop li:nth-child(4) {
    background-image: url(../img/bar_con2_4_bnw.png);
  }
  .alcoholTop li:nth-child(5) {
    background-image: url(../img/bar_con2_5_bnw.jpg);
  }
  .alcoholBottom {
    width: 780px;
    height: 220px;
    display: flex;
    margin: 0px auto;
  }
  .alcoholBottom li {
    width: calc(100% / 5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholBottom li:nth-child(1) {
    background-image: url(../img/bar_con2_6_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) {
    background-image: url(../img/bar_con2_7_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) h3 {
    margin-top: 7.5rem;
  }
  .alcoholBottom li:nth-child(3) {
    background-image: url(../img/bar_con2_8_bnw.png);
  }
  .alcoholBottom li:nth-child(4) {
    background-image: url(../img/bar_con2_9_bnw.jpg);
  }
  .alcoholBottom li:nth-child(5) {
    background-image: url(../img/bar_con2_10_bnw.jpg);
  }
  .alcoholTop a,
  .alcoholBottom a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  .alcoholTop p,
  .alcoholBottom p {
    margin-top: 230px;
    margin-left: 23px;
    font-size: 14px;
    font-weight: bold;
    display: none;
  }
  .alcoholTop h3,
  .alcoholBottom h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 9.5rem;
    margin-left: 1rem;
  }
  /* ---------- con3 ---------- */
  #con3 {
    width: 750px;
    margin: 0px auto;
  }
  #con3 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    margin-top: 8rem;
  }
  #con3 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid #555;
  }
  .bev ul {
    width: 750px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-top: 300px;
    opacity: 0;
  }
  .bev ul.on {
    margin-top: 0px;
    opacity: 1;
    transition: 2s;
  }
  #con3 .bev li {
    width: 100%;
    margin: 0.6rem 0px 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  #con3 .bev span {
    font-size: 13px;
  }
  #con3 .bev h4 {
    font-size: 16px;
    word-break: keep-all;
  }
  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 1.3rem 0px;
    margin-top: 10rem;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 0.4rem 0.7rem;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
  .policy li {
    position: relative;
  }
  .policy .pick2 {
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }
}

@media (max-width: 800px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 100%;
    height: 5.5rem;
    background-color: #f0c77b;
    position: fixed;
    top: 0px;
    z-index: 100;
    opacity: 0;
  }
  .headerWrap {
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 img {
    width: 100px;
  }
  .gnb {
    display: none;
  }
  .bar {
    font-size: 23px;
  }
  .moGnb {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    background-color: #f0c77b;
    display: none;
  }
  .moGnb li {
    height: 50px;
    line-height: 50px;
    border-top: 3px solid #d8a953;
  }
  .moGnb li:last-child {
    border-bottom: 3px solid #d8a953;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 20rem;
    letter-spacing: 3px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    margin-top: 6rem;
    margin-left: 5%;
  }
  #con1 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
  }
  #con1 h2 span {
    color: #d70204;
  }

  #con1 .img {
    text-align: center;
  }
  #con1 .img p {
    font-size: 14px;
    white-space: nowrap;
  }
  #con1 h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
  }
  #con1 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: nowrap;
  }
  #con1 .list li.on h3,
  #con1 .list li.on p {
    color: #d70204;
  }
  #con1 li p {
    font-size: 14px;
    margin-bottom: 1.4rem;
  }
  .img {
    margin: 0px auto;
  }
  .img li:nth-child(1) img {
    width: 90%;
    max-width: 150px;
    min-width: 100px;
  }
  .img li:nth-child(1) h4 {
    margin-top: 2rem;
  }
  .img li:nth-child(2) {
    display: none;
  }
  .img li:nth-child(3) {
    display: none;
  }
  /* ---------- con2 ---------- */
  #con2 {
    margin: 8rem 0rem;
  }
  /* title */
  #con2 .con2Title {
    width: 100%;
    height: 140px;
    background-color: #d70204;
    font-family: "Bebas Neue", sans-serif;
  }
  #con2 .con2Title div {
    margin-left: 2rem;
    display: flex;
    align-items: end;
    color: white;
  }
  #con2 .con2Title img {
    width: 100%;
    height: 20px;
  }
  #con2 .con2Title h2 {
    font-size: 80px;
    letter-spacing: 3px;
    display: none;
  }
  #con2 .con2Title span {
    vertical-align: super;
    font-size: 40px;
  }
  #con2 .con2Title p {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  /* pic */
  .alcoholTop {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 5rem;
  }
  .alcoholTop li {
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholTop li:nth-child(1) {
    background-image: url(../img/bar_con2_1_bnw.png);
  }
  .alcoholTop li:nth-child(2) {
    background-image: url(../img/bar_con2_2_bnw.png);
  }
  .alcoholTop li:nth-child(3) {
    background-image: url(../img/bar_con2_3_bnw.jpg);
  }
  .alcoholTop li:nth-child(4) {
    background-image: url(../img/bar_con2_4_bnw.png);
  }
  .alcoholTop li:nth-child(5) {
    background-image: url(../img/bar_con2_5_bnw.jpg);
  }
  .alcoholBottom {
    width: 95%;
    height: 220px;
    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    display: none;
  }
  .alcoholBottom li {
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .alcoholBottom li:nth-child(1) {
    background-image: url(../img/bar_con2_6_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) {
    background-image: url(../img/bar_con2_7_bnw.jpg);
  }
  .alcoholBottom li:nth-child(2) h3 {
    margin-top: 7.5rem;
  }
  .alcoholBottom li:nth-child(3) {
    background-image: url(../img/bar_con2_8_bnw.png);
  }
  .alcoholBottom li:nth-child(4) {
    background-image: url(../img/bar_con2_9_bnw.jpg);
  }
  .alcoholBottom li:nth-child(5) {
    background-image: url(../img/bar_con2_10_bnw.jpg);
  }
  .alcoholTop a,
  .alcoholBottom a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  .alcoholTop p,
  .alcoholBottom p {
    margin-top: 230px;
    margin-left: 23px;
    font-size: 14px;
    font-weight: bold;
    display: none;
  }
  .alcoholTop h3,
  .alcoholBottom h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 9.5rem;
    margin-left: 1rem;
  }
  /* ---------- con3 ---------- */
  #con3 {
    width: 95%;
    margin: 0px auto;
  }
  #con3 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  #con3 h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    word-break: keep-all;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid #555;
  }
  .bev ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 300px;
    opacity: 0;
  }
  .bev ul.on {
    margin-top: 0px;
    opacity: 1;
    transition: 2s;
  }
  #con3 .bev li {
    width: 100%;
    margin: 0.6rem 0px 1.5rem;
    display: flex;
    justify-content: space-between;
  }
  #con3 .bev span {
    font-size: 13px;
  }
  #con3 .bev h4 {
    font-size: 16px;
    word-break: keep-all;
  }
  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 1.3rem 0px;
    margin-top: 6rem;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .policy li {
    display: none;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 0.4rem 0.7rem;
    display: block;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
  .policy li {
    position: relative;
  }
  .policy .pick2 {
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    border-radius: 5px;
  }
}
