@media (min-width: 1200px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 100%;
    height: 80px;
    background-color: #f0c77b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    padding: 0px 50px;
    z-index: 100;
  }
  header h1 img {
    width: 140px;
  }
  header ul {
    display: flex;
    gap: 35px;
  }
  header li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
  }
  .bar {
    display: none;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 500px;
    letter-spacing: 3px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    margin-top: 100px;
  }
  #con1 div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #con1 h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #con1 p {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
  }
  .txtRight {
    width: 340px;
    height: 390px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-left: 50px;
    box-sizing: border-box;
    padding: 40px;
  }
  .txtRight div {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #d70204;
    margin: 30px 0px 0px 150px;
  }
  .txtRight a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  .txtLeft {
    width: 340px;
    height: 390px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-left: 71%;
    box-sizing: border-box;
    padding: 40px;
  }
  .txtLeft div {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #d70204;
    margin: 30px 0px 0px 20px;
  }
  .txtLeft a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  /* event1 */
  .event1 {
    width: 100%;
    height: 390px;
    margin-bottom: 70px;
    background-image: url(../img/event_con1_1.jpg);
  }
  /* event2 */
  .event2 {
    width: 100%;
    height: 390px;
    margin-bottom: 70px;
    background-image: url(../img/event_con1_2.jpg);
  }
  /* event3 */
  .event3 {
    width: 100%;
    height: 390px;
    margin-bottom: 70px;
    background-image: url(../img/event_con1_3.jpg);
  }
  /* event4 */
  .event4 {
    width: 100%;
    height: 390px;
    background-image: url(../img/event_con1_4.jpg);
  }

  /* ---------- con2 ---------- */
  #con2 {
    width: 1000px;
    margin: 100px auto;
    background-color: white;
  }
  #con2 .stripe1 {
    width: 100%;
    height: 20px;
    margin-bottom: 4px;
  }
  #con2 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    color: #d70204;
    margin: 30px 0px 20px 80px;
  }
  #con2 ul {
    width: 700px;
    margin: 0px auto;
    padding-bottom: 50px;
  }
  #con2 li {
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
    box-sizing: border-box;
    padding: 0px 10px;
  }
  #con2 li:nth-child(2n) {
    background-color: #ccc;
  }
  #con2 .stripe2 {
    width: 100%;
    height: 20px;
    margin-bottom: -4px;
  }

  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 30px 0px 20px;
    margin-top: 120px;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 12px;
    margin-bottom: 40px;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 4px 8px;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
}
