@media (min-width: 1200px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 img {
    width: 140px;
  }
  header ul {
    display: flex;
    gap: 35px;
  }
  header li {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 500px;
    letter-spacing: 3px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    width: 100%;
    margin: 100px 0px;
  }
  #con1 ul {
    width: 920px;
    margin: 0px auto;
    display: flex;
    gap: 40px;
  }
  #con1 li {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #con1 a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    font-size: 40px;
  }
  #con1 li:nth-child(1) {
    background-image: url(../img/food_con1_salad2.png);
    line-height: 200px;
  }
  #con1 li:nth-child(2) {
    background-image: url(../img/food_con1_pasta2.png);
    line-height: 45px;
    box-sizing: border-box;
    padding-top: 57px;
  }
  #con1 li:nth-child(3) {
    background-image: url(../img/food_con1_burger2.png);
    line-height: 200px;
  }
  #con1 li:nth-child(4) {
    background-image: url(../img/food_con1_grill2.png);
    line-height: 200px;
  }
  #con1 li.on {
    background-color: #d70204;
    background-image: none;
  }
  /* ---------- con2 ---------- */
  #con2 {
    width: 1200px;
    background-color: white;
    margin: 0px auto;
    text-align: center;
  }
  #con2 img {
    width: 100%;
  }
  #con2 .stripeTop {
    margin-bottom: 5px;
  }
  #con2 .stripeBottom {
    margin-bottom: -5px;
  }
  #con2 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    margin-top: 70px;
    letter-spacing: 5px;
  }
  #con2 > p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 80px;
    font-weight: 100;
  }
  #con2 .menu {
    margin: 80px 0px;
  }
  #con2 .menu h3 {
    font-size: 24px;
  }
  #con2 .menu h4 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin: 5px 0px 20px;
  }
  #con2 .menu div {
    margin-top: 20px;
    font-weight: bold;
    color: #d70204;
  }
  #con2 .notice {
    font-size: 12px;
    line-height: 30px;
    padding: 10px 0px 30px;
  }

  /* ---------- con3 ---------- */
  #con3 {
    width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    font-family: "Bebas Neue", sans-serif;
  }
  #con3 > div {
    width: calc(100% / 2 - 20px);
    height: 260px;
    border-radius: 12px;
    box-sizing: border-box;
  }
  #con3 ul {
    width: 400px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0px auto;
    padding-top: 40px;
  }
  #con3 li {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
  }
  #con3 img {
    width: 80px;
  }
  #con3 .recipe {
    background-color: #d70204;
  }
  .recipe li {
    color: white;
  }
  .recipe div {
    width: 210px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    margin: 10px 0px 0px 90px;
  }
  .recipe div a {
    width: 100%;
    height: 100%;
    display: block;
    color: #d70204;
    font-size: 20px;
  }
  #con3 .allergy {
    background-color: white;
    margin-top: 5px;
  }
  .allergy li {
    color: #d70204;
  }
  .allergy div {
    width: 230px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 7px;
    background-color: #d70204;
    margin: 20px 0px 0px 90px;
  }
  .allergy div a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
    font-size: 20px;
  }
  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 30px 0px 20px;
    margin-top: 120px;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 12px;
    margin-bottom: 40px;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 4px 8px;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
}
