@media (max-width: 800px) {
  /* ---------- layout ---------- */
  body {
    background-color: #f6e0b7;
  }

  /* ---------- header ---------- */
  header {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1 img {
    width: 100px;
  }
  .gnb {
    display: none;
  }
  .bar {
    font-size: 23px;
  }

  /* ---------- visual ---------- */
  #visual {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    background-image: url(../img/visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Bebas Neue", sans-serif;
    background-color: #d70204;
  }
  #visual h2 {
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 20rem;
    letter-spacing: 3px;
  }

  /* ---------- popup ---------- */
  #popup {
    width: 95%;
    margin: 8rem auto;
    background-color: white;
    overflow: hidden;
  }
  #popup .stripe1 {
    width: 130%;
    height: 10px;
    margin-bottom: 7px;
  }
  #popup .stripe2 {
    width: 130%;
    height: 12px;
    margin-bottom: -5px;
  }
  #popup > ul {
    width: 80%;
    margin: 0rem auto;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #popup li:first-child {
    margin: 0px auto;
  }
  #popup li:last-child {
    width: 95%;
    margin: 1rem auto;
  }
  #popup span {
    font-weight: bold;
    margin-right: 2rem;
  }
  #popup .info li {
    margin-bottom: 1rem;
    font-size: 14px;
  }

  /* ---------- con1 ---------- */
  #con1 {
    margin-top: 8rem;
  }
  #con1 .store {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  #con1 .store > li {
    border-radius: 10px;
    font-size: 14px;
  }
  #con1 .store img {
    width: 260px;
    border-radius: 10px;
  }
  #con1 h3 {
    color: #d70204;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: -0.3rem;
  }
  #con1 span {
    color: #d70204;
  }
  #con1 .store > li:last-child {
    background-color: white;
    box-sizing: border-box;
    padding: 2rem;
  }
  #con1 .store ul {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
  }
  #con1 .open {
    margin: 1.4rem 0px 0.7rem;
  }
  #con1 .btn li:nth-child(1) {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #d70204;
    font-size: 14px;
  }
  #con1 .btn li:nth-child(1) a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  #con1 .btn li:nth-child(2) {
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #d70204;
    font-size: 14px;
  }
  #con1 .btn li:nth-child(2) a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
  #con1 .btn li:nth-child(3) {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #777;
    font-size: 14px;
  }
  #con1 .btn li:nth-child(3) a {
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }

  /* ---------- page ---------- */
  .page {
    width: 150px;
    margin: 0px auto;
    display: flex;
    gap: 10px;
  }
  .page li {
    width: 30px;
    height: 30px;
    line-height: 34px;
    text-align: center;
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
  }
  .page li.on {
    background-color: #d70204;
  }
  .page a {
    width: 100%;
    height: 100%;
    display: block;
  }

  /* ---------- footer ---------- */
  footer {
    width: 100%;
    padding: 1.3rem 0px;
    margin-top: 6rem;
    background-color: black;
    text-align: center;
    color: white;
  }
  footer h3 {
    font-size: 30px;
  }
  footer h4 {
    width: 200px;
    margin: 0px auto;
    font-size: 30px;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    border-bottom: 2px solid white;
  }
  footer .footer {
    width: 96%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .sns {
    display: flex;
    gap: 10px;
  }
  footer .sns li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: white;
    font-size: 18px;
    border-radius: 50%;
  }
  footer .policy {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .policy li {
    display: none;
  }
  .policy li:last-child {
    border: 1px solid white;
    padding: 0.4rem 0.7rem;
    display: block;
  }
  .policy a {
    color: white;
    font-size: 13px;
  }
}
